<!doctype html>
<html lang="en">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include partials/header.ejs %>
        <div>
                <%=data%>
        </div>
    </body>
</html>
