<!doctype html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <style>
      body{
        background-image: url("/images/background.png");
      } 
    </style>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div>
      
      <div class="mx-5 my-5" style=" width: 300px;height: 300px;">
        <form action="/" method="POST">
          <div class="form-group">
            <label class="display-4" for="selectRole">Welcome</label>
            <small id="roleHelp" class="form-text text-muted">Let's get you started.</small>
            <select type="text"  name="userType" class="form-control" id="userType" aria-describedby="roleHelp" required>
              <option value="Visitor">Visitor</option>
              <option value="Host">Host</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form action="/visitors/active" method="GET">
          <p>Already Checked In? <a href="/visitors/active">Check out here</a> </p>
        </form>
      </div>
    </div>
  </body>
</html>
