<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <style>
      /* body{
        background-image: url("/images/background.png");
      } */
    </style>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div>
      <div class="mx-auto" style=" width: 300px;height: 300px;">
        <h1>Thanks. Your appointment has been successfully booked.</h1>
      </div>
    </div>
  </body>
</html>
